#    zsh2401@163.com    #
#    2017/10/22         #
#    giti file          #
#
#files
*.log
*.exe
*.exe.config
*.exe.config
*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
*.lastcodeanalysissucceeded
*.zip
*.rar
*.lnk
*.bak
*.suo
fast
!AutumnBox.Basic/Adb/*.exe
!AutumnBox.Basic/Adb/*.dll
Bin/*
!Bin/readme.txt
#dirs
.vs/
obj/

