#    zsh2401@163.com    #
#    03/10/2017         #
#    giti file          #

##files
*.log
*.exe
*.exe.config
*.exe.config
*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
*.lastcodeanalysissucceeded
*.zip
*.rar
*.lnk
*.bak
*.suo
*.dll
*.psd
*.txt
fast
gfast.exe
makezip
##dirs
.vs/
out/
sdk/
bin/
obj/
maker/
HistoryRelease/
DemoPic/
packages/
##do_not
!AutumnBox.Basic/ManagedAdb/win32adb/*.*
