##
#files
*.pdb
*.log
*.config
bin/AutumnBox.application
bin/AutumnBox.exe.manifest
bin/Tester.exe
bin/app.publish
bin/WpfAnimatedGif.xml
*.zip
*.bak
bin/*.exe
bin/AutumnBox.basic.dll
bin/WpfAnimatedGif.dll
bin/*.sqlite
#dirs
AutumnBox/obj/
AutumnBox.basic/obj/
WpfAnimatedGif/obj/
Tester/obj/

