<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5"/>
    </startup>-->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="dll"/>
    </assemblyBinding>
  </runtime>-->
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear/>
        <add name="LogTraceListener" type="AutumnBox.Support.Log.LogWriterTraceListener" initializeData="gui.log"></add>
      </listeners>
    </trace>
  </system.diagnostics>-->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutumnBox.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutumnBox.GUI.Properties.Settings>
            <setting name="WTF" serializeAs="String">
                <value>ok</value>
            </setting>
        </AutumnBox.GUI.Properties.Settings>
    </userSettings>
</configuration>
