<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutumnBox.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <runtime>
      <loadFromRemoteSources enabled="true"/>
    </runtime>
  
    <userSettings>
        <AutumnBox.GUI.Properties.Settings>
            <setting name="IsFirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>zh-CN</value>
            </setting>
            <setting name="ShowDebuggingWindowNextLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipVersion" serializeAs="String">
                <value>0.0.1</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>随机-Random</value>
            </setting>
            <setting name="LoginKey" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="NotifyOnFinish" serializeAs="String">
                <value>True</value>
            </setting>
        </AutumnBox.GUI.Properties.Settings>
    </userSettings> 
</configuration>
