<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="1.5.5" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
</packages>