<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.4.1.1101" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Spring.Aop" version="2.0.1" targetFramework="net45" />
  <package id="Spring.Core" version="2.0.1" targetFramework="net45" />
  <package id="WpfAnimatedGif" version="1.4.15" targetFramework="net45" />
</packages>